@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

.fs24 {
    font-size: 22px;
}

.fs20 {
    font-size: 16px;
    font-weight: 400;
}

.fs20B {
    font-size: 18px;
    font-weight: 500;
}

.fCPrimary {
    color: var(--color-deep-violet);
}

.fCBody {
    color: var(--color-slate-gray);
}

.lH25 {
    line-height: 25px;
}