.sidebarFooterContainer {
    // position: absolute;
    // bottom: 20px;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;

    a {
        text-decoration: none;
        color: var(--color-deep-violet);
    }
}