.form-control {

    width: auto;
    height: auto;

    &.--dims {
        width: auto;
        height: 40px;

        &.w80p {
            width: 80%;
        }

        &.textarea-input {
            height: 120px;
        }
    }

    &.--block-size {
        width: 100%;
    }

    &.--normal {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &.textarea-input {
            align-items: flex-start;

            >.ic-container {
                height: 40px;
            }

            textarea {
                padding: 10px 0 !important;
                padding-right: 8px !important;
                background-color: transparent;
            }
        }

        select {
            background-color: transparent;
        }

        background: rgba(255, 255, 255, 1);
        border-radius: 40px;
        overflow: hidden;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

        &.--no-border {
            box-shadow: none;
        }

        transition: box-shadow 0.2s ease-in;

        &.--cz-shadow {
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
        }

        >.ic-container {
            width: auto;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
        }

        >.input-control-container {
            width: 100%;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            >.input-control {
                width: 100%;
                height: 100%;
                border: none;
                font-size: 14px;

                color: #353535;
                transition: color 0.2s ease;

                padding: 0 20px;

                &.--ic {
                    padding: 0;
                    padding-right: 10px;
                }
            }
        }

        &:focus-within {
            box-shadow: 0 0 0 1px rgba(93, 54, 109, 0.1), 0 0 0 4px rgba(93, 54, 109, 0.4);

            >.input-control-container {
                >.input-control {
                    color: #1a1a1a;
                }
            }
        }
    }

}


/** Checkbox **/

.checkbox-container {

    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding-left: 40px;

    >.label-item {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &.--center {
            position: relative;
            bottom: -2px;
        }

        >.label {
            .text {
                font-size: 14px;
            }
        }

        >.desc {
            .text {
                font-size: 13px;
                opacity: 0.7;
            }
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkbox-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: #f5f5f5;
        transition: background-color 0.1s, box-shadow 0.04s ease;


        &::after {
            content: "";
            position: absolute;
            transition: border 0.01s ease;
        }
    }

    &:hover input~.checkbox-checkmark {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    input:checked~.checkbox-checkmark {
        // background-color: rgb(93, 54, 109);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    input:disabled~.checkbox-checkmark {
        // background-color: rgb(93, 54, 109);
        background-color: #f5f5f5;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &:hover input:checked~.checkbox-checkmark {
        box-shadow: 0 0 0 1px rgba(93, 54, 109, 1);
    }

    &:hover input:disabled~.checkbox-checkmark {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &:focus-within {
        .checkbox-checkmark {
            box-shadow: 0 0 0 3px rgba(93, 54, 109, 0.4);
        }
    }

    input:checked~.checkbox-checkmark:after {
        display: block;

        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid rgb(93, 54, 109);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    input:disabled~.checkbox-checkmark:after {
        border: solid rgba(93, 54, 109, 0.4);
        border-width: 0 2px 2px 0;
    }

}



.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0 !important;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-deep-violet);
}

input:focus+.slider {
    // box-shadow: 0 0 1px #0b0d0f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
    // border-radius: 8px;
}

.slider.round:before {
    border-radius: 50%;
    // border-radius: 6px;
}