.skeys-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.sk-group-notice {
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    // padding: 4px 12px;
    border-radius: 8px;

    .notice-txt-small {
        font-size: 13px;
        color: rgb(93, 54, 109);
    }
}

.sk-group {
    cursor: pointer;

    .-ic {
        transition: transform 0.2s ease;

        &.opened {
            transform: rotate(-90deg);
        }
    }

    .counter {
        margin-right: 8px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding-right: 12px;
    }

    transition: opacity 0.1s ease;

    &:hover {
        opacity: 0.8;
    }
}

.skey {
    width: 100%;
    height: auto;
    // padding: 12px;
    // border-radius: 12px;
    // background-color: #f8f8f8;

    margin-top: 12px;
    margin-bottom: 12px;

    // cursor: pointer;
    padding-bottom: 12px;
    border-bottom: 1px solid #EAEAEA;

    &:hover {
        // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    >.inner-skey {
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        >.section {
            width: 100%;
            height: 100%;

            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .btn-vote {

                &.--upvote {
                    transform: rotateZ(-90deg);
                }

                &.--downvote {
                    transform: rotateZ(90deg);
                }


                transition: transform 0.2s,
                opacity 0.3s ease;

                &:hover {
                    opacity: 0.4;

                    &.--upvote {
                        transform: rotateZ(-90deg) scale(1.2) translateX(2px);
                    }

                    &.--downvote {
                        transform: rotateZ(90deg) scale(1.2) translateX(2px);
                    }
                }
            }

            &.section-1 {
                max-width: calc(100% - 36px);

                >.col {
                    width: 100%;
                    height: 100%;

                    padding: 2px 0;

                    display: flex;
                    display: -webkit-flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: var(--color-slate-gray);
                        font-size: 14px;
                    }

                    >.r {
                        width: auto;
                        height: 100%;

                        display: -webkit-flex;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            max-width: 18px;
                            height: auto;
                            max-height: 18px;
                            border-radius: 30px;
                        }

                        &.r1 {
                            width: auto;
                            margin-right: 12px;
                            position: relative;
                            top: -3px;
                        }

                        &.r2 {
                            width: auto;
                            margin-right: 12px;
                            font-size: 18px;
                        }

                        max-width: 120px;

                        &.r3 {
                            max-width: 100%;
                            width: 100%;
                        }

                        >.text {
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        >.title {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        >.combined {
                            width: 90%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        
                            > span:first-child {
                                margin-right: 12px;
                            }

                            > span {
                                &.title {
                                    color: var(--color-deep-violet);
                                }
                            }
                        }

                        &.--tag {
                            width: auto;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--color-deep-violet);
                            // border-radius: 6px;
                            // padding: 4px 6px;

                            border-radius: 40px;
                            padding: 4px 8px;

                            margin-left: 4px;
                            margin-right: 4px;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }

                            >.text {
                                font-weight: 400;
                                font-size: 14px;
                                color: rgb(255, 255, 255);
                            }
                        }
                    }

                    &.col-1 {

                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        margin-bottom: 2px;
                        padding: 6px 0;
                    }

                    &.col-2 {
                        max-width: 100%;

                        a {
                            opacity: 0.6;
                            text-decoration: none;
                            color: rgb(15, 13, 15);

                            max-width: 100%;
                            // max-width: calc(100% - 40px);
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            &:hover {
                                color: rgb(136, 0, 125);
                                text-decoration: underline;
                            }
                        }
                    }

                    &.col-3 {
                        margin-top: 6px;
                        max-width: 100%;

                        >.r {
                            &.--tag:first-child {
                                margin-left: 0;
                            }
                        }

                    }
                }
            }

            &.section-2 {
                width: 36px;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                >.more-btn {
                    position: relative;
                    bottom: -50%;
                }
            }
        }
    }
}

.sk-tag {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-deep-violet);
    // border-radius: 6px;
    // padding: 4px 6px;
    border-radius: 40px;
    padding: 4px 4px;

    font-weight: 400;
    font-size: 14px;

    > span {
        padding: 0 6px;
    }

    cursor: pointer;

    color: rgb(255, 255, 255);

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    >.text {
        font-weight: 400;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }

    > button {
        width: 12px;
        height: 12px;
        border-radius: 40px;
        background: #ffffff;
        border: none;
        cursor: pointer;

        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: 0.7;
        }
    }
}