@import 'include_media';
@import 'vars';
@import 'fonts';
@import 'colors';
@import 'loading';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin sans', sans-serif;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input,
textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

*:focus {
    outline: none;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

@import 'container';
@import 'buttons';
@import 'sidebar';
@import 'header';
@import 'footer';
@import 'dialog';
@import 'form-controls';
@import 'popup';
@import 'shortkey';
@import 'mainpage';